<div class="container-xl">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-3">
      <h3 class="bg-light text-dark text-center">管理者ログイン</h3>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-horizontal") do |f| %>
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-10">
        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class:"col-xl-3 col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xl-6 col-form-label" %>
        </div>
        <div class="form-group row">
            <%= f.label :password, "パスワード", class:"col-xl-3 col-form-label" %>
            <%= f.password_field :password, autocomplete: "current-password", class:"col-xl-6 col-form-label" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6"></div>
    <div class="col-xl-4"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
  </div>
  <% end %>
  </br>
</div>