<h1><%= @customer.full_name %>さん、本当に退会しますか？</h1>

<h3>退会すると、会員登録情報や</br>これまでの購入履歴が閲覧できなくなります。</br>退会する場合は、「退会する」をクリックしてください。</h3>



<%= form_with model: @customer, url:customers_withdraw_path(@customer.id), local:true do |f| %>

  <div>
    <p>氏名　<%= f.text_field :last_name %><%= f.text_field :first_name %></p>
  </div>
  <div>
    <p>フリガナ　<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
  </div>
  <div>
    <p>郵便番号　<%= f.text_field :postal_code %></p>
  </div>
  <div>
    <p>住所　<%= f.text_field :address %></p>
  </div>
  <div>
    <p>電話番号　<%= f.text_field :telephone_number %></p>
  </div>
  <div>
    <p>メールアドレス　<%= f.text_field :email %></p>
  </div>

  <%= f.submit '編集内容内容を保存', class: "btn btn-primary" %>
<% end %>

  <div>
    <%= link_to "退会する", edit_admin_customer_path(@customer.id), class: "btn btn-primary" %>
  </div>