<h1><%= @customer.full_name %>さんの会員詳細</h1>

  <div>
    <p>会員ID<%= @customer.id %></p>
  </div>
  <div>
    <p>氏名<%= @customer.last_name %> <%= @customer.first_name %></p>
  </div>
  <div>
    <p>フリガナ<%= @customer.last_name_kana %> <%= @customer.first_name_kana %></p>
  </div>
  <div>
    <p>郵便番号<%= @customer.postal_code %></p>
  </div>
  <div>
    <p>住所<%= @customer.address %></p>
  </div>
  <div>
    <p>電話番号<%= @customer.telephone_number %></p>
  </div>
  <div>
    <p>メールアドレス<%= @customer.email %></p>
  </div>
  <div>
    <p>会員ステータス<%= @customer.is_active ? '有効':'無効' %></p>
  </div>
  <div>
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-primary" %>
  </div>
  <p>注文履歴一覧</p>