<div class="container-xl">

  <div class="row mb-2">
    <div class="col-xl-3">
      <h3 class="bg-light text-dark text-center">注文履歴詳細</h3>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xl-10">

        <div class="row mb-1">
          <div class="col-xl-3">
            <h5>購入者</h5>
          </div>
          <div class="col-xl-9">
            <h5><%= @order.customer.full_name %></h5>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xl-3">
            <h5>注文日</h5>
          </div>
          <div class="col-xl-9">
            <h5><%= @order.created_at.strftime('%Y/%m/%d') %></h5>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xl-3">
            <h5>発送先</h5>
          </div>
          <div class="col-xl-9">
            <h5>
              〒<%= @order.mailing_address_postal_code %>
              <%= @order.mailing_address %><br>
              <%= @order.mailing_address_name %>
            </h5>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xl-3">
            <h5>支払方法</h5>
          </div>
          <div class="col-xl-9">
            <h5><%= @order.payment_method_i18n %></h5>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xl-3">
            <h5>注文ステータス</h5>
          </div>
          <div class="col-xl-9">
            <%= form_with model: @order, url:admin_order_path(@order.id), method: :patch, local:true do |f| %>
            <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
            <%= f.submit '変更', class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>


  <div class="row align-items-end">
    <table class="table col-xl-8">
      <thead class="table-secondary">
        <tr>
          <th style="width: 32%" scope="col">商品名</th>
          <th style="width: 18%" scope="col">単価（税込）</th>
          <th style="width: 8%" scope="col">数量</th>
          <th style="width: 15%" scope="col">小計</th>
          <th style="width: 19%" scope="col">製作ステータス</th>
          <th style="width: 8%" scope="col",colspan="1"></th>
        </tr>
      </thead>
<!--ここから下が可変-->
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= number_to_currency(order_detail.item.with_tax_price,  :locale => 'jp') %></td>
            <td><%= order_detail.amount %></td>
            <td><%= number_to_currency(order_detail.subtotal,  :locale => 'jp') %></td>
            <td>
              <%= form_with model:order_detail, url:admin_order_detail_path, method: :patch, local:true do |f| %>
              <%= f.select :make_status, OrderDetail.make_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.make_status.#{k}"), k]} %>
            </td>
            <td>
              <%= f.submit '変更', class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% @sum += order_detail.subtotal %>
        <% end %>
      </tbody>
    </table>

    <span class="col-sm-1"></span>

<!--合計値部分-->
    <table class="table table-borderless col-xl-3">
        <tr>
          <th scope="col">商品合計金額</th>
          <td><%= number_to_currency(@sum, :locale => 'jp') %></td>
        </tr>
        <tr>
          <th scope="col">送料</th>
          <td>800円</td>
        </tr>
        <tr>
          <th scope="col">請求金額</th>
          <td><%= number_to_currency((@sum + 800), :locale => 'jp') %></td>
        </tr>
    </table>
  </div>

</div>