<div class="container-xl mb-5">
  <div class="row mb-5">
    <div class="col-xl-3">
      <h3 class="bg-light text-dark text-center">配送先一覧／登録</h3>
    </div>
  </div>

<!--エラーメッセージ-->
<% if @address.errors.any? %>
  <%= @address.errors.count %>件のerrorが発生しました
  <% @address.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<!--住所登録-->
  <div class="row mb-5">
    <div class="col-xl-10">
      <%= form_with model:@address, url:addresses_path, local:true do |f| %>
        <div class="form-group row">
          <%= f.label :postal_code, "郵便番号", class: 'col-xl-2 col-form-label' %>
          <%= f.text_field :postal_code, :placeholder => "0000000", class: 'col-xl-3 col-form-label' %>
        </div>
        <div class="form-group row">
          <%= f.label :address, "住所", class: 'col-xl-2 col-form-label' %>
          <%= f.text_field :address, :placeholder => "〇〇県××市（建物名まで）", class: 'col-xl-7 col-form-label'  %>
        </div>
        <div class="form-group row">
          <%= f.label :name, "宛名", class: 'col-xl-2 col-form-label' %>
          <%= f.text_field :name, :placeholder => "長野例", class: 'col-xl-3 col-form-label'  %>
          <span class="col-xl-4"></span>
          <div class="col-xl-2">
            <%= f.submit '新規登録', class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!--ジャンル一覧表示-->
  <div class="row">
    <div class="col-xl-10">
      <table class="col-xl-12 table-bordered mb-3">
        <thead class="table-secondary">
          <tr>
            <th style="width: 10%" scope="col">郵便番号</th>
            <th style="width: 35%" scope="col">住所</th>
            <th style="width: 30%" scope="col">宛名</th>
            <th style="width: 25%" scope="col",colspan="1"></th>
          </tr>
        </thead>

<!--ここから下が可変-->
        <tbody>
          <% @addresses.each do |address| %>
            <tr scope="col">
              <td class="align-middle p-2"><%= address.postal_code %></td>
              <td class="align-middle p-2"><%= address.address %></td>
              <td class="align-middle p-2"><%= address.name %></td>
              <td class="align-middle p-2">
                <%= link_to "編集する", address_path(address.id), class: "btn btn-success" %>　<%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>