<div class="container-xl">
<h3>注文情報確認</h3>

<!--カート情報出力-->
  <div class="row">
    <div class="col-xl-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
<!--ここから下が可変-->
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr scope="col">
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 30, 30, format: 'jpeg' %>　<%= cart_item.item.name %></td>
            <td><%= number_to_currency(cart_item.item.with_tax_price,  :locale => 'jp') %></td>
            <td><%= cart_item.amount %></td>
            <td><%= number_to_currency(cart_item.subtotal, :locale => 'jp') %></td>
            <% @sum += cart_item.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xl-4">
      <table class="table">
        <tr>
          <th scope="col">送料</th>
          <td scope="col">800円</td>
        </tr>
        <tr>
          <th scope="col">商品合計金額</th>
          <td scope="col"><%= number_to_currency(@sum, :locale => 'jp') %></td>
        </tr>
        <tr>
          <th scope="col">請求金額</th>
          <td scope="col"><%= number_to_currency((@sum + 800), :locale => 'jp') %></td>
        </tr>
      </table>
    </div>
  </div>

<!--オーダー情報出力-->
  <div>
    <h3>支払方法</h3>
      <%= @order.payment_method_i18n %>
    <h3>お届け先</h3>
      <%= @order.full_address %>
  </div>

<!--情報の保存、オーダーディティールについてはコントローラーで-->
<div>
  <%= form_with model:@order, url:orders_path, local:true do |f| %>
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= f.hidden_field :mailing_address_postal_code, value: @order.mailing_address_postal_code %>
    <%= f.hidden_field :mailing_address, value: @order.mailing_address %>
    <%= f.hidden_field :mailing_address_name, value: @order.mailing_address_name %>
    <%= f.hidden_field :billing, value: @sum+800 %>
    <%= f.hidden_field :postage, value: 800 %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.hidden_field :status, value: 0 %>
  <%= f.submit '注文を確定する' %>
  <% end %>
</div>